body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  justify-items: center;
  margin-bottom: 10px;
  background-color: lightgray;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 300px;
}

h1 {
  text-align: center;
  grid-column: 1/-1;
}

section {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

article {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 1em 1em 1em 1em;
  font-size: .9em;
  height: 304px;
  animation: naarBeneden .5s ease-out forwards;

  /* transition: margin-top .5s cubic-bezier(.35,-0.85,.69,1.87); */
  overflow: auto;
}

article ul {
  padding-left: 2em;
}

section:hover article {
  margin-top: -308px;
  animation: naarBoven .5s linear forwards;
}

@keyframes naarBeneden {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  63% {margin-top: -75px;}
  88% {margin-top: -37px;}
  100%, 25%, 50%, 75% {margin-top: 0px;}
}
@-ms-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  63% {margin-top: -75px;}
  88% {margin-top: -37px;}
  100%, 25%, 50%, 75% {margin-top: 0px;}
}

@-o-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  63% {margin-top: -75px;}
  88% {margin-top: -37px;}
  100%, 25%, 50%, 75% {margin-top: 0px;}
}
@-ms-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  63% {margin-top: -75px;}
  88% {margin-top: -37px;}
  100%, 25%, 50%, 75% {margin-top: 0px;}
}
@-webkit-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  63% {margin-top: -75px;}
  88% {margin-top: -37px;}
  100%, 25%, 50%, 75% {margin-top: 0px;}
}
/* fsdfsdffssfsfsd */
@keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  62% {margin-top: -225px;}
  82% {margin-top: -270px;}
  100%, 25%, 50%, 75% {margin-top: -304px;}
}

@-ms-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  62% {margin-top: -225px;}
  82% {margin-top: -270px;}
  100%, 25%, 50%, 75% {margin-top: -304px;}
}

@-o-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  63% {margin-top: -75px;}
  88% {margin-top: -37px;}
  100%, 25%, 50%, 75% {margin-top: -304px;}
}
@-ms-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  62% {margin-top: -225px;}
  82% {margin-top: -270px;}
  100%, 25%, 50%, 75% {margin-top: -304px;}
}
@-webkit-keyframes naarBoven {
  0% {margin-top: -305px;}
  38% {margin-top: -150px;}
  62% {margin-top: -225px;}
  82% {margin-top: -270px;}
  100%, 25%, 50%, 75% {margin-top: -304px;}
}
span {
  margin-left: 150px;
}
